agate==1.6.1
agate-dbf==0.2.0
agate-excel==0.2.2
agate-sql==0.5.3
alabaster==0.7.12
altair==4.1.0
anaconda-client==1.7.2
anaconda-navigator==1.9.6
anaconda-project==0.8.2
asn1crypto==0.24.0
astor==0.8.1
astroid==2.1.0
astropy==3.1
atomicwrites==1.2.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
base58==2.0.1
beautifulsoup4==4.6.3
bitarray==0.8.3
bkcharts==0.2
blaze==0.11.3
bleach==3.0.2
blinker==1.4
blis==0.7.4
bokeh==1.0.2
boto==2.49.0
boto3==1.16.18
botocore==1.19.18
Bottleneck==1.2.1
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.11.8
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
clyent==1.2.2
colorama==0.4.1
conda==4.6.8
conda-build==3.17.6
conda-verify==3.1.1
contextlib2==0.5.5
cryptography==2.4.2
csvkit==1.0.3
cycler==0.10.0
cymem==2.0.5
Cython==0.29.2
cytoolz==0.9.0.1
dask==1.0.0
datashape==0.5.4
dbfread==2.0.7
decorator==4.3.0
defusedxml==0.5.0
distributed==1.25.1
docutils==0.14
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.3.1/en_core_web_md-2.3.1.tar.gz
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
enum-compat==0.0.3
es-core-news-md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-2.3.1/es_core_news_md-2.3.1.tar.gz
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==3.0.10
Flask==1.0.2
Flask-Cors==3.0.7
future==0.17.1
gcloud==0.18.3
gensim==3.8.3
gevent==1.3.7
gitdb==4.0.5
GitPython==3.1.11
glob2==0.6
gmpy2==2.0.8
googleapis-common-protos==1.53.0
greenlet==0.4.15
h5py==2.8.0
heapdict==1.0.0
html5lib==1.0.1
httplib2==0.19.0
idna==2.8
imageio==2.4.1
imagesize==1.1.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1602263269022/work
ipykernel==5.3.4
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
isort==4.3.4
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.2
jeepney==0.4
Jinja2==2.11.2
jmespath==0.10.0
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==0.35.3
jupyterlab-server==0.2.0
keyring==17.0.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
leather==0.3.3
libarchive-c==2.8
lief==0.9.0
llvmlite==0.26.0
locket==0.2.0
lxml==4.2.5
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1602267316845/work
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.11
mkl-random==1.0.2
more-itertools==4.3.0
mpmath==1.1.0
msgpack==0.5.6
multipledispatch==0.6.0
murmurhash==1.0.5
navigator-updater==0.2.1
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.2
nltk==3.4
nose==1.3.7
notebook==5.7.4
numba==0.41.0
numexpr==2.6.8
numpy==1.16.2
numpydoc==0.8.0
oauth2client==4.1.3
odo==0.5.1
olefile==0.46
openpyxl==2.5.12
packaging==18.0
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1601981996375/work
pandocfilters==1.4.2
parsedatetime==2.4
parso==0.3.1
partd==0.3.9
path.py==11.5.0
pathlib2==2.3.3
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==8.0.1
pkginfo==1.4.2
plac==1.1.3
plotly==4.14.3
pluggy==0.8.0
ply==3.11
preshed==3.0.5
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.14.0
psutil==5.7.3
ptyprocess==0.6.0
py==1.7.0
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
pydeck==0.5.0
pyflakes==2.0.0
Pygments==2.3.1
pylint==2.2.2
pyodbc==4.0.25
pyOpenSSL==18.0.0
pyparsing==2.4.7
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1605115584602/work
PySocks==1.6.8
pytest==4.0.2
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.2.0
pytest-openfiles==0.3.1
pytest-remotedata==0.3.1
pytest-timeit==0.3.0
python-dateutil==2.8.1
python-slugify==3.0.0
pytimeparse==1.1.8
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1604321279890/work
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.1.2
QtAwesome==0.5.3
qtconsole==4.4.3
QtPy==1.5.2
requests==2.21.0
retrying==1.3.3
rope==0.11.0
rsa==4.7.2
ruamel-yaml==0.15.46
s3transfer==0.3.3
scikit-image==0.14.1
scikit-learn==0.20.1
scipy==1.1.0
seaborn==0.11.0
SecretStorage==3.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
smart-open==4.1.2
smmap==3.0.4
snowballstemmer==1.2.1
sortedcollections==1.0.1
sortedcontainers==2.1.0
spacy==2.3.5
Sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
spyder==3.3.2
spyder-kernels==0.3.0
SQLAlchemy==1.2.15
srsly==1.0.5
statsmodels==0.9.0
streamlit==0.71.0
sympy==1.3
tables==3.4.4
tblib==1.3.2
terminado==0.8.1
testpath==0.4.2
textblob==0.15.3
thinc==7.4.5
toml==0.10.2
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado==5.1.1
tqdm==4.56.0
traitlets==4.3.2
tzlocal==2.1
unicodecsv==0.14.1
Unidecode==1.0.23
urllib3==1.24.3
validators==0.18.1
vega-datasets==0.8.0
wasabi==0.8.1
watchdog==0.10.3
wcwidth==0.1.7
webencodings==0.5.1
weightedcalcs==0.1.2
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wordcloud==1.8.1
wquantiles==0.5
wrapt==1.10.11
wurlitzer==1.0.2
xlrd==1.2.0
XlsxWriter==1.1.2
xlwt==1.3.0
zict==0.1.3
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1603668650351/work
